body {
  background-color: white;
  font-size: 18px;
  line-height: 24px;
  font-family: 'helvetica neue';
}

nav {
  margin: 2em 0 0;
  text-align: center;
  cursor: pointer;
}

nav li {
  display: inline-block;
  background-color: #D7D7D7;
  color: #4B4B4B;
  padding: 1em 2em;
  transition: all 0.2s;
  margin: 1em .33em;
  line-height: 1.1;
}

nav li:hover {
  background-color: #EEE;
}

nav li.active {
  background-color: #474747;
  color: white;
}

.oregon-map {
  margin: auto;
  max-width: 800px;
  margin-top: 3em;
}

.oregon-map svg {
  width: 100%;
  height: auto;
}

.oregon-map svg path {
  fill-opacity: 1;
  stroke-width: 250;
  stroke-linejoin: round;
  stroke-opacity: 1;
  fill: #D7D7D7;
  transition: fill 0.3s linear;
}

.oregon-map svg path.active:hover {
  fill: #666;
}

.oregon-map svg path.active {
  fill: #474747;
  cursor: pointer;
}

.popover {
  display: block;
  position: absolute;
  min-width: 300px;
  background-color: white;
  transition: opacity .2s;
  opacity: 0;
  text-align: center;
  padding: 1em;
  background-color: black;
  color: white;
  border-radius: 8px;
}

.popover-row {
  display: block;
  padding: 0 1em;
  margin: 0;
}

.popover-col {
  display: inline-block;
  padding: 1em;
  vertical-align: middle;
}

.popover-col-divider {
  height: 5em;
  border-left: 1px solid #aaa;
  width: 0;
  padding: 0;
  margin: 1.5em 1em;
}

.popover-label {
  font-size: .8em;
  font-weight: 200;
}

.popover-county {
  text-transform: uppercase;
}

.popover-number {
  font-size: 2.33em;
  font-weight: 300;
  margin-bottom: .2em;
}

.popover .close {
  position: absolute;
  right: 0;
  top: -.33em;
  cursor: pointer;
  padding: 1em;
}

.popover-button {
  text-transform: uppercase;
  color: black;
  background-color: white;
  padding: .8em 2em;
  font-weight: 600;
  border-radius: 5px;
  font-size: .8em;
}

.popover a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
}

.popover a:hover {
  text-decoration: underline;
}

.popover.dev {
  opacity: 1;
  top: 100px;
  left: 100px;
}

.accordion {
  margin: 1em 0;
  display: none;
}

.accordion-title {
  text-transform: uppercase;
  font-weight: 900;
}

.accordion-title::after {
  float: right;
  content: "\2303";
  transition: all 0.5s;
}

.expanded .accordion-title::after {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.accordion .leaf {
  margin: 0;
  padding: 1em 0;
  border-top: 1px solid black;
}

.accordion .leaf.expanded {
  /*color: red;*/
}

.accordion-row {
  display: block;
}

.accordion-col {
  display: inline-block;
  width: 33%;
}

.accordion-number {
  font-size: 1.1em;
  margin-top: 1em;
  font-weight: 600;
}

.accordion button {
  border-radius: 5px;
  background-color: #aaa;
  color: white;
  font-size: 1rem;
  margin-top: 1em;
  padding: .66em;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .accordion {
    display: block;
  }

  nav {
    height: 4em;
    overflow: hidden;
    background-color: #474747;
    padding: 0em 1em;
    position: relative;
  }

  nav.expanded {
    height: unset;
  }

  nav.hot {
    padding-top: 4em;
  }

  nav li {
    display: block;
    margin: 0;
    padding: 1em 3em;
    border-bottom: 1px solid white;
    background-color: transparent;
    color: white;
  }

  nav li:hover {
    background-color: #474747;
  }

  nav li.active {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    margin: 0 1em;
  }

  .popover {
    display: none;
  }
}